html, body {
    height: 100%;
    min-width: 100%;
}

body{
    font: 16px;
    background-image: linear-gradient(to top, rgb(51, 197, 58), rgb(35, 83, 214));
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card{
    width: 80%;
    height: 60%;
    background-color: #f2f2f2;
    border-radius: 15px;
    text-align: center;
}